# SPDX-License-Identifier: GPL-2.0
#
# Avalon DMA driver
#
# Author: Alexander Gordeev <a.gordeev.box@gmail.com>
#
config AVALON_DRV
	depends on AVALON_DMA
	tristate "Avalon DMA driver"
	help
	  This selects a driver for Avalon DMA

config AVALON_DRV_PCI_VENDOR_ID
	hex "PCI vendor ID"
	default "0x1172"

config AVALON_DRV_PCI_DEVICE_ID
	hex "PCI device ID"
	default "0xe003"

config AVALON_DRV_PCI_BAR
	int "PCI device BAR the Avalon DMA controller is mapped to"
	range 0 5
	default 0

config AVALON_DRV_PCI_MSI_COUNT_ORDER
	int "Count of MSIs the PCI device provides (order)"
	range 0 5
	default 5

config AVALON_DRV_PCI_MSI_VECTOR
	int "MSI vector the Avalon DMA controller uses in multi-MSI mode"
	range 0 31
	default 0
