# SPDX-License-Identifier: GPL-2.0
#
# Copyright (c) 2019, The Linux Foundation. All rights reserved.
# Author: Alexander Gordeev <a.gordeev.box@gmail.com>
#
# Avalon DMA engine
#
config AVALON_TEST
	select AVALON_DMA
	tristate "Intel Avalon-MM DMA Interface for PCIe test driver"
	help
	  This selects a test driver for Avalon-MM DMA Interface for PCI
